<div class="panel panel-default">
	<div class="panel-heading">
        <span class="panel-title">{{sys_menu}}{{COMMON_MANAGE}}</span>
    </div>
	<div class="panel-body">
        <form class="form-inline queryform">
            <div class="form-group">
                <label class="control-label">{{MENU_ID}}</label>
                <div class="input-group">
                    <input class="form-control" name="menuId">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{MENU_NAME}}</label>
                <div class="input-group">
                    <input class="form-control" name="menuName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{MENU_CODE}}</label>
                <div class="input-group">
                    <input class="form-control" name="menuCode">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{MENU_TYPE}}</label>
                <div class="input-group">
                    <input class="form-control" name="menuType">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{URL}}</label>
                <div class="input-group">
                    <input class="form-control" name="url">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{TARGET}}</label>
                <div class="input-group">
                    <input class="form-control" name="target">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{ICON}}</label>
                <div class="input-group">
                    <input class="form-control" name="icon">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{PARENT_ID}}</label>
                <div class="input-group">
                    <input class="form-control" name="parentId">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{PARENT_IDS}}</label>
                <div class="input-group">
                    <input class="form-control" name="parentIds">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{SORT}}</label>
                <div class="input-group">
                    <input class="form-control" name="sort">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{LEVEL}}</label>
                <div class="input-group">
                    <input class="form-control" name="level">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{REMARKS}}</label>
                <div class="input-group">
                    <input class="form-control" name="remarks">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{CREATE_BY}}</label>
                <div class="input-group">
                    <input class="form-control" name="createBy">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{CREATE_DATE}}</label>
                <div class="input-group">
                    <input class="form-control" name="createDate">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{UPDATE_BY}}</label>
                <div class="input-group">
                    <input class="form-control" name="updateBy">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{UPDATE_DATE}}</label>
                <div class="input-group">
                    <input class="form-control" name="updateDate">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">{{DEL_FLAG}}</label>
                <div class="input-group">
                    <input class="form-control" name="delFlag">
                </div>
            </div>
            <div class="pull-right">
                <span class="query-btn btn btn-primary btn_minwidth">{{COMMON_QUERY}}</span>
                <span class="js-add btn btn-primary btn_minwidth">{{COMMON_ADD}}</span>
            </div>
        </form>
        <div class="margin-vertical-lg detail-grid"></div>
	</div>
</div>

