<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">登录页面</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal detailform">
            <input type="hidden" id="hid_modulus" name="modulus">
            <input type="hidden" id="hid_exponent" name="exponent">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">用户名</label>
                        <div class="col-sm-8 input-group">
                            <input name="userName" id="userName" class="form-control" data-rule="用户名:required;">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">密码</label>
                        <div class="col-sm-8 input-group">
                            <input name="password" id="password" class="form-control" data-rule="密码:required;">
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary js-btn_save">提交</button>
    </div>
</div>